.page {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.container {
  width: 500px;
}

.container > *:not(:last-child) {
  margin-bottom: 20px;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttons > *:not(:last-child) {
  margin-right: 10px;
}
